.navbar .nav-link:hover {
    color: #ffac81;
    /* color when hovered */
}

.navbar .nav-link.active {
    font-family: 'Times New Roman', Times, serif;
    color: #7161ef;
    /* color for the current page */
    font-weight: bold;
    /* optional for emphasis */
    font-size: 15pt;
}

.navbar .nav-link {
    font-family: 'Times New Roman', Times, serif;
    color: #7161ef;
    text-decoration: none;
    font-size: 15pt;
}

.navbar-nav .nav-link {
    margin-right: 30px;
    /* space between links */
}

.navbar-nav .nav-link:last-child {
    margin-right: 0;
    /* remove extra space after last link */
}
