body {
    background-color: #efd9ce;
}

h1 {
    color: #7161ef;
    font-size: 24pt;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: #7161ef;
    font-size: 15pt;
    font-family: 'Times New Roman', Times, serif;
}

.side-border {
    /* border-left: 100px solid #7161ef;
  border-right: 3px solid #7161ef; */
    border-left: 4px solid #3498db;
    border-right: 4px solid #3498db;
    padding: 10px;
    border-radius: 8px;
    /* optional */
}
.bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
}
.bottom-left a {
  color: #7161ef;           /* or any color you want */
  text-decoration: none;  /* removes underline */
}
.bottom-left a:hover {
  color: #dec0f1;
}