body{
    background-color: #efd9ce;
}
h1{
    color: #7161ef;
    font-size: 24pt;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: #7161ef;
    font-size: 15pt;
    font-family: 'Times New Roman', Times, serif;
}
.side-border {
  border-left: 100px solid #7161ef;
  border-right: 3px solid #7161ef;
}